<div>
  <% if @post.comments.empty? %>
    <p> 0 Comment </p>
  <% else %> 
    <% @post.comments.each do |idx| %>
        <p><%= idx.author.name %> : <%= idx.text %></p>
        
        <%if can? :manage, @comment%>
          <%=button_to "Delete", post_comment_path(@post.id), method: :delete,  data: {confirm: 'Are You Sure You Want to Delete This Post'} %>
        <% end %>
    <% end %>
  <% end %>
</div>