<section class="user_header d_flex">
  <%= image_tag @user.photo, class: "user_img", size: "160x90", alt: "Profile Picture"%>
  <div class=" user_info d_flex">
    <h1><%= link_to @user.name %></h1>
    <p>Number of posts: <%= @user.post_counter %></p>
  </div>
</section>
